.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.options-list:hover {
  background-color: aquamarine;
  cursor: pointer;
}
.create-poll-container > * {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-container {
  align-items: center;
  display: flex;
  justify-content: right;
}
input[type="text"] {
  border: none;
  border-bottom: 2px solid #ddd;
  margin-bottom: 25px;
  padding: 10px;
  width: 500px;
  transition: all 0.3s ease-in-out;
}

input[type="text"]:focus {
  border-bottom-color: #4d90fe;
  outline: none;
  transform: scale(1.01);
}
.button-container {
  justify-content: space-between;
}

.button-container button {
  background-color: #4d90fe;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
  padding: 10px 20px;
  transition: all 0.2s ease-in-out;
}

.button-container button:hover {
  background-color: #357ae8;
  transform: scale(1.05);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 1rem;
}

h2 {
  color: #4d90fe;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.options-list {
  background-color: #f4f4f4;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.options-list:hover {
  background-color: #e4e4e4;
}
